services:
  db:
    image: pgvector/pgvector:pg18-trixie
    container_name: cs2-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  server:
    container_name: cs2-server

    build:
      context: ./server
      dockerfile: Dockerfile
      args:
        DATABASE_URL: ${DATABASE_URL}
    ports:
      - "${SERVER_PORT}:3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      PORT: 3000

    depends_on:
      db:
        condition: service_healthy

    restart: unless-stopped

  client:
    container_name: cs2-client

    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "${CLIENT_PORT}:80"

    depends_on:
      - server
    restart: unless-stopped

volumes:
  postgres_data:
