.SkinGrid {
	display: grid;

	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

	gap: 24px;

	margin-top: 2rem;

	padding: 10px;
}

@media (max-width: 600px) {
	.SkinGrid {
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		gap: 16px;
	}
}
