.SearchInputWrapper {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
}

.SearchIcon {
	position: absolute;
	left: 12px;
	color: var(--color-text-secondary);
	pointer-events: none;
	font-size: 1.2rem;
	z-index: 1;
}

.SearchInput {
	width: 100%;

	padding: 10px 35px 10px 40px;
	font-size: 16px;
	border: 1px solid var(--color-border);
	border-radius: var(--radius);
	background-color: var(--color-surface);
	color: var(--color-text-primary);
	transition: background-color 0.2s ease, color 0.2s ease,
		border-color 0.2s ease;
}

.SearchInput:focus {
	border-color: var(--color-primary);
	outline: none;
}

.ClearButton {
	position: absolute;
	right: 10px;
	background: none;
	border: none;
	cursor: pointer;
	color: var(--color-text-secondary);
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: color 0.2s;
}

.ClearButton:hover {
	color: var(--color-text-primary);
}
